body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  background-color: black;
  color: #fff;
}
.container__lista{
  display: flex;
  text-decoration: row;
  
  
}
.lista{
  list-style: none;
}
